
body{
  margin: 0;
  text-align: center; /*center the body*/
  font-family: 'Merriweather', serif;
  background-color: white;
}
h1{
line-height: 2;
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
line-height: 2;
/*
  margin: 0 0 10px;
  font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  height: 90px;
  width: 300px;
  margin: 0 auto;
  */
}

a{
  color: #11999E;
}

a:hover{
  color: #EAF6F6;
}

.introduction-text{
  color: #40514E;
  width: 300px;
  font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

.dotted_line{
  margin-top: 100px;
  margin-bottom: 100px;
  color: lightgrey;
  border-top: 9px dotted;
  border-bottom: 0;
  width: 5%;
}

.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;


}

.middle-container{
margin-top: 20PX;


}

.bottom-container{
position: relative;
padding-top: 50px;
background-color: #66BFBF

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;

}
.btn {
  margin: 50px auto 50px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 0px;
   line-height: 0px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 160px;
   font-size: 24px;
   font-weight: 100;
   padding: 23px;
   text-shadow: 9px 4px 16px #000000;
   border: solid #99C624 0px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #046771 1px;
   background: #1EBFD0;
   background-image: -webkit-linear-gradient(top, #1EBFD0, #0BBEBE);
   background-image: -moz-linear-gradient(top, #1EBFD0, #0BBEBE);
   background-image: -ms-linear-gradient(top, #1EBFD0, #0BBEBE);
   background-image: -o-linear-gradient(top, #1EBFD0, #0BBEBE);
   background-image: linear-gradient(to bottom, #1EBFD0, #0BBEBE);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   text-decoration: none;
}

.bottom-text{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-cloud{
position: absolute;
  right:300px;
  top:50px;
}

.profile_picture{
  height: 150px;
  border-radius: 100%;
}
.computer{
  height: 100px;
  width: 25%;

  float: left;
  margin-right: 30px;


}
.soccer{
  height: 100px;
  width: 25%;

  float: right;
  margin-right: 30px;

}
.envelope{
  height: 30px;
  width: 30px;

}

.skills{
  line-height:3;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;

}
.footer-link{
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-decoration: none;
  font-weight: bold;
}
